:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --dark-bg: #2f303a;
  --black-color: #000000;
  --primary-background-color: #f5f4fa;
  --gray-text-color: rgba(255, 255, 255, 0.6);
  --background-color-button: #188ceb;
  --border-bottom-color: #eeeeee;
}
* {
  box-sizing: border-box;
}
body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  margin: 0;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding-left: 0;
}
button {
  cursor: pointer;
}
address {
  font-style: normal;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.text-gray {
  color: var(--title-text-color);
}
.main-nav {
  display: flex;
  align-items: center;
}
.active-text:hover,
.active-text:focus {
  color: var(--accent-color);
}
.active-text {
  text-decoration: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--black-color);
  text-decoration: none;
}
.logo-part {
  color: var(--accent-color);
}
.logo-white {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  text-decoration: none;
  margin-bottom: 50px;
}
.logo-part-white {
  color: var(--accent-color);
}
.site-nav {
  display: flex;
  margin-left: 93px;
}
.site-nav .item:not(:last-child) {
  margin-right: 50px;
}
.auth-nav {
  display: flex;
  align-items: center;
}
.auth-nav .item + .item {
  margin-left: 50px;
}
.contacts {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  align-items: center;
  transition: color 250ms cubic-bezier(0.4,0,0.2,1);
  text-decoration: none;
}

.contacts-icon {
  content:"";
  margin-right: 10px;
  fill: #757575;
}
.contacts-icon:hover,
.contacts-icon:focus{
  fill: currentColor;
}
.header-link {
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.default-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--primary-background-color);
  border-color: transparent;
  border-radius: 4px;
  cursor: pointer;
  padding: 6px 22px;
  justify-content: center;
}
.default-button:hover,
.default-button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.primary-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  padding: 10px 32px;
  cursor: pointer;
  border-color: transparent;
  border-radius: 4px;
  letter-spacing: 0.06em;
}
.primary-button:hover,
.primary-button:focus {
  background-color: var(--background-color-button);
}
.dark-bg {
  background-color: var(--dark-bg);
}
.hero {
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  max-width: 1600px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
  ),
  url(../imagest/img111.jpg);
}
.hero-title {
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}
.feature-list {
  display: flex;
  padding: 0;
}
.feature-list .item {
  width: 25%;
}
.feature-list .item:not(:last-child) {
  margin-right: 30px;
}
.feature-icon{
  content: "";
  display: flex;
  width:270px;
  height:120px;
background-size:auto;
 background-repeat: no-repeat;
 background-position: center;
 background-color: var(--primary-background-color);
 border-radius: 4px;
 margin-bottom: 30px;
 padding: 25px 100px;
}

.details-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: var(--primary-text-color);
}
.details-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.team-section {
  background-color: var(--primary-background-color);
}
.title {
  text-align: center;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.pictures {
  display: flex;
  justify-content: space-between;
}
.pictures .item {
  width: 33.3%;
}
.pictures .item:not(:last-child) {
  margin-right: 30px;
}
.pictures .item img {
  width: 100%;
}
.team-list {
  display: flex;
}
.list-item {
  background-color: var(--primary-white-color);
  width: 25%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.list-item:not(:last-child) {
  margin-right: 30px;
}
.list-item img {
  width: 100%;
}

.team-section {
  background-color: var(--primary-background-color);
}
.person-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 10px;
}
.person-text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}
.card-header {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
  margin-bottom: 4px;
}
.card-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
.link-text-decorated {
  text-decoration: none;
}
.active-link {
  color: var(--accent-color);
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.address-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  text-decoration: none;
  font-style: normal;
}
.address-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--gray-text-color);
  font-style: normal;
}
.address-list:not(:last-child) {
  margin-bottom: 9px;
}
.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.visually-hidden-list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.visually-hidden-list .item {
  margin-left: 8px;
  align-items: center;
  justify-content: center;
}
.visually-hidden-list .item:first-child {
  margin-left: 0;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  margin-top: 50px;
}
.flex-element {
  flex-basis: calc((100% - 60px) / 3);
}
.flex-element:nth-child(n + 3) {
  margin-right: 0;
}
.flex-element:hover{
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.list {
  list-style: none;
}
.flex {
  display: flex;
}

.details-text-section {
  padding-bottom: 0;
}
.contacts-wrapper {
  padding: 60px 0;
}

.filter-buttons {
  justify-content: center;
}
.card-info-wrapper {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
.team-list .list-item {
  border-radius: 0px 0px 4px 4px;
}

.justified-between {
  justify-content: space-between;
}
.address-wrapper {
  margin-top: 20px;
}
.header-wrapper {
  border-bottom: 32px;
  border: 1px solid #ececec;
}
.person-info-wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
}
/*svg*/
.offer-action{
  font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--primary-white-color);
  margin-bottom: 20px;
}
.actions{
  display: flex;
  margin: 0;
  padding: 0;
}
.actions .icon-edit{
  content: "";
  display: flex;
  padding: 0;
  width: 40px;
  height: 40px;
  border: none;
cursor: pointer;
}

.button{
  padding: 0;
  border: none;
  color: var(--primary-white-color);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  width: 44px;
  height: 44px;
  margin-right: 10px;
}
.button:hover,
.button:focus{
background-color: var(--accent-color);
}
.button-icon{
  fill: currentColor;
  background-position: center;
}
.icons-wrapper{
  
  margin-right: 50px;
}

.person-soc-list{
display: flex;
justify-content: center;
gap: 10px;
}

.person-soc-item{
width: 44px;
height: 44px;
}

.person-soc-link{
width: 100%;
height: 100%;
background-color: var(--primary-white-color);
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
}
.person-soc-icon{
  fill:#AFB1B8;
}
.person-soc-link:hover,
.person-soc-link:focus{
background-color: var(--accent-color);
}
.person-soc-link:hover,
.person-soc-link:focus
.person-soc-icon
{
fill: var(--primary-white-color);
}

.customers-list{
  display: flex;
  gap: 30px;
}
.customers-item{
  width: calc((100% - 150px) / 6);
height: 90px;
}
.customers-link{
width: 100%;
height: 100%;
border: 1px solid #AFB1B8;
border-radius: 4px;
display: flex;
align-items: center;
justify-content: center;
}

.customers-list-icon{
  fill: #AFB1B8;
  background-position: center;
}
.address-part{
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}