:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --dark-bg: #2f303a;
  --black-color: #000000;
  --primary-background-color: #f5f4fa;
  --gray-text-color: rgba(255, 255, 255, 0.6);
  --background-color-button: #188ceb;
}
body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  margin: 0;
}
.text-gray {
  color: var(--title-text-color);
}
.active-text:hover,
.active-text:focus {
  color: var(--accent-color);
}
.active-text {
  text-decoration: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--black-color);
  text-decoration: none;
}
.logo-part {
  color: var(--accent-color);
}
.logo-white {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  text-decoration: none;
}
.logo-part-white {
  color: var(--accent-color);
}
.contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
.list {
  list-style: none;
}
.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.default-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--primary-background-color);
  border-color: transparent;
  border-radius: 4px;
  cursor: pointer;
  padding: 6px 22px;
}
.default-button:hover,
.default-button:hover {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}
.primary-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  padding: 10px 32px;
  cursor: pointer;
  border-color: transparent;
  border-radius: 4px;
}
.primary-button:hover,
.primary-button:focus {
  background-color: var(--background-color-button);
}
.dark-bg {
  background-color: var(--dark-bg);
}
.main-header {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}
.details-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
}
.details-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.second-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.list-item {
  background-color: var(--primary-white-color);
}
.team-section {
  background-color: var(--primary-background-color);
}
.person-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.person-text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}
.card-header {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}
.card-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
.link-text-decorated {
  text-decoration: none;
}
.active-link {
  color: var(--accent-color);
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.address-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  text-decoration: none;
  font-style: normal;
}
.address-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--gray-text-color);
  font-style: normal;
}
