.customers-wrapp__title {
  text-align: center;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.customers {
  display: flex;
  gap: 30px;
}
.customers__item {
  width: calc((100% - 150px) / 6);
  height: 90px;
}
.customers__link {
  border: 1px solid var(--primary-icon-color);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers__link:hover,
.customers__link:focus {
  border-color: var(--accent-color);
}
.customers__link:hover > .customers__icon,
.customers__link:focus > .customers__icon {
  fill: var(--accent-color);
}
.customers__icon {
  fill: var(--primary-icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
