.contacts {
  padding: 60px 0;
  background-color: var(--dark-bg);
}
.contacts__wrapper {
  align-items: baseline;
  @media screen and (max-width: 1200px){
  flex-wrap: wrap;
  text-align: center;
 }
 @media screen and (min-width: 768px){
 display: flex;
 }
}
.contacts__part {
  @media screen and (max-width: 768px){
    margin-bottom: 60px;
    }
  @media screen and (min-width: 1200px){
    margin-right: 70px;
    }
}
.contacts__logo {
  @include font(26px, 1.19, 700, 0.03em);
  font-family: "Raleway";
  color: var(--primary-white-color);
  text-decoration: none;
  margin-bottom: 50px;
}
.contacts__logo-white {
  color: var(--accent-color);
}
.address {
  margin-top: 20px;
}
.address__item:not(:last-child) {
  margin-bottom: 9px;
}
.address__link {
  @include font(14px, 1.71, null, 0.03em);
  color: var(--primary-white-color);
  text-decoration: none;
  font-style: normal;
}
.address__text {
  @include font(14px, 1.71, null, 0.03em);
  color: var(--gray-text-color);
  font-style: normal;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.icons-wrapper {
  @media screen and (min-width: 768px){
    margin-left: auto;
  margin-right: 0;
   }
   @media screen and (min-width: 1200px){
  margin-right: 93px;
   }
}
.offer-action {
  @include font(14px, 1.14, 700, 0.03em);
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 20px;
}
.actions {
  display: flex;
  margin: 0;
  padding: 0;
  @media screen and (max-width: 768px){
    justify-content: center;
    margin-bottom: 60px;
    }
}
.actions .icon-edit {
  content: "";
  display: flex;
  padding: 0;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
}
.actions__item {
  width: 44px;
  height: 44px;
  padding: 0;
  border: none;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  margin-right: 10px;
}
.actions__link {
  width: 100%;
  height: 100%;
  color: var(--primary-white-color);
  @extend %align-list;
  justify-content: center;
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.actions__icon {
  fill: currentColor;
}
.speaker{
 
}
.speaker-action {
  @include font(14px, 1.14, 700, 0.03em);
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 23px;  
}
.speaker-form {
  & textarea:placeholder {
    color: rgba(255, 255, 255, 0.6);
  }
  @media screen and (min-width: 1200px){
    display: flex;
   }
}

.speaker-form__email {
  width: 100%;
  height: 50px;
  color: var(--primary-white-color);
  padding-left: 16px;
  outline: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2f303a;
  @media screen and (min-width: 768px){
    width: 358px;
   }
}
.speaker-form__button {
  @extend %align-list;
  @include font(14px, 1.14, 700, 0.03em);
  font-weight: 700;
  justify-content: center;
  gap: 10px;
  letter-spacing: 0.06em;
  border: transparent;
  color: var(--primary-white-color);
  width: 200px;
  height: 50px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-left: 12px;
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: #188ce8;
  }
  @media screen and (max-width: 1200px){
     margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
}
   }

.speaker-form__icon {
  fill: var(--primary-white-color);
}