
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms linear, visibility 250ms linear;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  min-height: 581px;
  background: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 300ms linear;
  padding: 40px;
}
.backdrop-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}
.modal-close {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: transparent;
  width: 30px;
  height: 30px;
  background: var(--primary-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  @extend %align-list;
  justify-content: center;
  cursor: pointer;
  &:hover > .modal-close-icon,
  &:focus > .modal-close-icon {
    fill: var(--accent-color);
  }
}
.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.form-title {
  @include font(20px, 1.15, 700, 0.03em);
  text-align: center;
  margin-bottom: 12px;
  color: var(--primary-text-color);
}
.form {
  margin-left: auto;
  margin-right: auto;
}
.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.input-label {
  @include font(12px, 1.16, null, 0.01em);
  margin-bottom: 5px;
  display: block;
  color: var(--title-text-color);
}
.form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  color: var(--primary-text-color);
  padding-left: 42px;
  outline: transparent;
  &:focus {
    border-color: var(--accent-color);
    & input:placeholder {
      color: rgba(117, 117, 117, 0.5);
    }
  }
}
.input-wrap {
  position: relative;
}
.form-input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  .form-input:focus + & {
    fill: var(--accent-color);
  }
}
.comment-wrap {
  margin-bottom: 20px;
}
.comment-text {
  @include font(12px, 1.16, null, 0.01em);
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  outline: transparent;
  color: var(--primary-text-color);
  &:focus {
    border-color: var(--accent-color);
  }
}
.checkbox {
  @extend %align-list;
  @include font(14px, 1.71, 400, 0.03em);
  justify-content: center;
  gap: 7px;
  color: var(--title-text-color);
}
.custom-checkbox {
  position: relative;
  width: 16px;
  height: 15px;
  border-radius: 2px;
  border: 2px solid var(--primary-text-color);
  background-color: transparent;
  .input-checkbox:checked + & {
    background: var(--accent-color);
    border-color: var(--accent-color);
  }
  .input-checkbox:checked + & > svg {
    opacity: 1;
  }
}
.checkbox-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  fill: var(--primary-white-color);
}
.visually-hidden {
  appearance: none;
  position: absolute;
}
.checkbox-link {
  @include font(14px, 1.71, 400, 0.03em);
  text-decoration-line: underline;
  color: var(--accent-color);
}
.form-button {
  @include font(16px, 1.87, 700, 0.06em);
  display: block;
  font-family: inherit;
  align-items: center;
  text-align: center;
  color: var(--primary-white-color);
  margin-top: 30px;
  width: 200px;
  height: 50px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}
