.hero {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 1600px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #c4c4c4; 
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../imagest/hero-bg-mobile.jpg);
    @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../imagest/hero-bg-mobile-2x.jpg);;
}
    @media screen and (min-width: 768px){
      padding: 118px 204px 118px 204px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../imagest/hero-bg-tablet.jpg);
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../imagest/hero-bg-tablet-2x.jpg);
  }
    }
    @media screen and (min-width: 769px){
      padding-top: 200px;
      padding-bottom: 200px;
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../imagest/hero-bg-laptop.jpg);
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
          background-image: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
          ),
          url(../imagest/hero-bg-laptop-2x.jpg);
      }
    }
}
.hero__title {
  @include font(26px, 1.61, 900, 0.06em);
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-white-color);
  @media screen and (min-width: 1200px){
  font-size: 44px;
  line-height: 1.36;
  max-width: 696px;
  }
}
.hero__button {
  @include font(16px, 1.87, 700, 0.06em);
  font-family: inherit;
  text-align: center;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  padding: 10px 32px;
  cursor: pointer;
  border-color: transparent;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--background-color-button);
  }
}
