.customers-wrapp__title {
  @include font(36px, 1.16, 700, 0.03em);
  text-align: center;
  margin-bottom: 50px;
  color: var(--primary-text-color);
}
.customers {
  display: flex;
  gap: 30px;
}
.customers__item {
  width: calc((100% - 150px) / 6);
  height: 90px;
}
.customers__link {
  border: 1px solid var(--primary-icon-color);
  border-radius: 4px;
  @extend %align-list;
  justify-content: center;
  height: 90px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }
}
.customers__icon {
  fill: var(--primary-icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .customers__link:hover > &,
  .customers__link:focus > & {
    fill: var(--accent-color);
  }
}
