.section-detail {
  padding-bottom: 0;
}

.feature {
  display: flex;
  padding: 0;
}
.feature .feature__item {
  width: 25%;
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.feature__wrapp-icon {
  height: 120px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-background-color);
  margin-bottom: 30px;
}
.feature__icon {
  content: "";
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
}
.feature__title {
  @include font(14px, 1.14, 700, 0.03em);
  margin-bottom: 10px;
  text-transform: uppercase;
  color: var(--primary-text-color);
}
.feature__text {
  @include font(14px, 1.71, null, 0.03em);
  color: var(--title-text-color);
}
