.pictures-wrapp__title {
  @include font(36px, 1.16, 700, 0.03em);
  text-align: center;
  margin-bottom: 50px;
  color: var(--primary-text-color);
}
.pictures {
  display: flex;
  justify-content: space-between;
}
.pictures__item {
  position: relative;
  bottom: 0;
  right: 0;
  display: flex;
  .pictures &:not(:last-child) {
    margin-right: 30px;
  }
}
.pictures-wrapp .pictures__item {
  width: 33.3%;
}

.pictures .pictures__item img {
  width: 100%;
}
.pictures__meta {
  position: absolute;
  bottom: 0;
  width: 370px;
  height: 70px;
  padding-top: 27px;
  background: rgba(47, 48, 58, 0.8);
}
.pictures__title {
  @include font(14px, 1.14, null, 0.03em);
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-white-color);
}
