body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding-top: 80px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.list {
  list-style: none;
}
