:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --dark-bg: #2f303a;
  --black-color: #000000;
  --primary-background-color: #f5f4fa;
  --gray-text-color: rgba(255, 255, 255, 0.6);
  --background-color-button: #188ceb;
  --border-bottom-color: #eeeeee;
  --primary-icon-color: #afb1b8;
}
